.list-cell {
    -fx-padding: 0px;
}

.list-cell:even {
    -fx-background-color: #99ff99;
    -fx-text-fill: black;
}

.list-cell:odd {
    -fx-background-color: #ccffcc;
    -fx-text-fill: black;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}